  @media screen and (max-width: 1400px) {
    #profile {
      height: fit-content;
      height: 95vh;
    }
    .btn {
        width: 6rem;
    }
    .about-containers {
      flex-wrap: wrap;
    }
    #projects {
      margin-top: 5rem;
    }
    #experience {
      margin-top: 5rem;
    }
    #contact {
      margin-top: 10rem;
    }
  }
  
  @media screen and (max-width: 1200px) {
    #portfolio-nav {
      display: none;
    }
    #experience,
    .experience-details-container {
      margin-top: 2rem;
    }
    #profile,
    .section-container {
      display: block;
    }
    #hamburger-nav {
      display: flex;
    }   

    #profile {
      height: 100vh;
    }

    #about {
        margin-top: 15rem;
    }
    .about-containers .btn {
        width: 6rem;
    }
    .arrow {
      display: none;
    }
    section,
    .section-container {
      height: fit-content;
    }
    section {
      margin: 0 5%;
    }
    .section__pic-container {
      margin: 0 auto 2rem;
    }
    #contact {
      margin-top: 0;
    }
  }
  
  @media screen and (max-width: 600px) {
    #contact,
    footer {
      height: 60vh;
    }
    #profile {
      height: 100vh;
      margin-bottom: 2rem;
    }
    #about {
        margin-bottom: 2rem;
        margin-top: 5rem;
    }
    article {
      font-size: 1rem;
    }
    footer nav {
      height: fit-content;
      margin-bottom: 2rem;
    }
    .about-containers,
    .contact-info-upper-container,
    .btn-container {
      flex-wrap: wrap;
    }
    .contact-info-container {
      margin: 0;
    }
    .contact-info-container p,
    .nav-links li a {
      font-size: 1rem;
    }
    .experience-sub-title {
      font-size: 1.25rem;
    }
    .logo {
      font-size: 1.5rem;
    }
    .nav-links {
      flex-direction: column;
      gap: 0.5rem;
      text-align: center;
    }
    .section__pic-container {
      width: auto;
      height: 50vw;
      justify-content: center;
    }
    .section__text__p2 {
      font-size: 1.25rem;
    }
    .title {
      font-size: 2rem;
    }
    .text-container {
      text-align: justify;
    }
  }
  
@media screen and (min-width: 400px) and (max-width: 600px) {
    #profile {
        height: 50vh;
    }
    #about {
        margin-top: 15rem;
    }
    
}