/* General style */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,300&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

p {
    color: rgb(85, 85, 85);
}

/* Transition */

a, .btn {
    transition: all 300ms ease;
}

/* Navigation */

nav, .nav-links {
    display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}

.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

a {
    color: black;
    text-decoration: none;
    text-decoration-color: white;
}

a:hover {
    color: grey;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181, 181, 181);
}

.logo {
    font-size: 2rem;
}

.logo:hover {
    cursor: default;
}

/* Hamburger menu */

#hamburger-nav {
    display: none;
}

.hamburger-menu {
    position: relative;
    display: inline-block;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 0.3 ease-in-out;
}

.menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}

.menu-links a{
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.menu-links li{
    list-style: none;
}

.menu-links.open {
    max-height: 300px;
}

.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
    transform: none;
}
  
.hamburger-icon span:nth-child(2) {
    opacity: 1;
}
  
.hamburger-icon span:last-child {
    transform: none;
}


/* Sections */

section {
    padding-top: 8vh;
    height: 92vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.section-container {
    display: flex;
}

/* Profile Section */

#profile {
    display: flex;
    height: 90vh;
    gap: 5rem;
    justify-content: center;
}

.section__pic-container {
    justify-content: center;
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
}

.section__text {
    align-self: center;
    text-align: center;
}

.section__text p {
    font-weight: 600;
}

.section__text__p1 {
    text-align: center;
    font-size: 1.2rem;
}

.section__text__p2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

.title {
    font-size: 3rem;
    text-align: center;
}

#socials-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

/* ICON */

.icon {
    height: 2rem;
    margin: 0.5rem;
    cursor: pointer;
}

/* Buttons */

.btn_container {
    justify-content: center;
    display: flex;
    gap: 1rem;
}

.btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
}

.btn-color-1, .btn-color-2 {
    border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-1:hover, .btn-color-2:hover {
    cursor: pointer;
}

.btn-color-1, .btn-color-2:hover {
    background-color: rgb(53, 53, 53);
    color: white;
    
}

.btn-color-1:hover {
    background-color: rgb(0, 0, 0);    
}

.btn-color-2 {
    background-color: none;    
}

.btn-color-2:hover {
    border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-container {
    gap: 1rem;
}


/* ABOUT SECTION */

#about {
    position: relative;
} 

.about-containers {
    gap: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.about-details-containers {
    justify-content: center;
    flex-direction: column;
}

.about-containers, .about-details-containers {
    display: flex;
}

.about-pic {
  border-radius: 2rem;
}

.arrow {
  position: absolute;
  right: -5rem;
  bottom: 2.5rem;
}

.details-container {
    padding: 1.5rem;
    background-color: white;
    border-radius: 2rem;
    flex: 1;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
}

.section-container {
    gap: 4rem;
    height: 80%;
}

.section__pic-container {
    height: 350px;
    width: 350px;
    margin: auto 0;
}

/* Experience */

#experience {
    position: relative;
}

.experience-sub-title {
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 1rem;
    color: rgb(85, 85, 85);
}

.experience-details-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.article-container {
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: space-around;
}

article {
    display: flex;
    width: 10rem;
    justify-content: center;
    gap: 0.5rem;
}

article .icon {
    cursor: default;
}

/* Projects  */

#projects{
    position: relative;
}

.color-container {
    border-color: rgb(163, 163, 163);
    background-color: rgb(250, 250, 250);
}

.project-img {
    border-radius: 2rem;
    width: 90%;
    height: 90%;
}

.project-title {
    color: black;
    margin: 1rem;
}

.project-text {
    font-size: 0.8rem;
}

.project-btn {
    margin: 0.5rem;
    padding: 0.5rem;
}

article .text-basic {
    margin-right: 65px;
}

/* Contact */

#contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
}

.contact-info-upper-container {
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(168, 168, 168);
    margin: 2rem auto;
    background: (250, 250, 250);
    padding: 0.5rem;
}

.contact-info-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: 1rem;
    justify-content: center;
}

.contact-info-container p {
    font-size: larger;
}

.contact-icon {
    cursor: default; 
}

.email-icon {
    height: 2.5rem;
}

/* Footer */

footer {
    height: 26vh;
    margin: 0 1rem;
}

footer p {
    text-align: center;
}